/* splash code */
@keyframes highsplashanimation {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.5;
    transform: scale(1.2);
  }
  100% {
    opacity: 0;
    transform: scale(0.1);
    visibility: hidden;
  }
}

.splash-page {
  position: absolute;
  top: 140px;
  right: 510px;
  animation: highsplashanimation 0.7s ease-in-out forwards;
  animation-delay: 1s;
}

.splash-page img {
  width: 650px;
  height: 450px;
}

.splash-page img {
  border-radius: 50px;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.8), 0 1px 3px rgba(0, 0, 0, 0.8);
}
/* splash code end */

/* background photo */
#wave {
  z-index: -10;
  width: 100%;
  height: 900px;
  position: absolute;
  top: -110px;
}
/* bg photo code end */

/* main header code */
#Gangneung-logo {
  width: 150px;
  height: 100px;
}

.main-header {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 90px;
  background-color: white;
  position: absolute;
  top: 0px;
}

.main-header__column:first-child,
.main-header__column:last-child {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.main-header__column:last-child {
  width: 10%;
  justify-content: space-around;
}

.main-header__column:first-child img {
  margin-left: 30px;
  margin-right: 120px;
}

.main-header-text {
  font-size: 20px;
  font-weight: 600;
  color: slateblue;
  margin-right: 50px;
}

.main-header__side {
  margin-left: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-header__side span {
  margin: 0px 15px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

.main-header__side span:last-child i {
  margin-left: 3px;
}

.divider {
  width: 1px;
  height: 15px;
  background-color: rgba(0, 0, 0, 0.5);
}

.main-header-icon {
  opacity: 0.5;
  font-size: 15px;
  margin-right: 35px;
  height: 100%;
  display: flex;
  align-items: center;
}

.main-header-icon:first-child {
  border-left: 1px solid rgba(0, 0, 0, 0.5);
  padding-left: 35px;
}

.main-header-icon:last-child {
  background-color: #47514c;
  color: white;
  padding: 0px 38px;
}
/* main header end code */

/* welcome-header code */
.welcome-header {
  margin-top: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-header__title {
  font-size: 80px;
  color: white;
  font-family: "Nanum Brush Script", cursive;
}

.welcome-header__subtitle {
  width: 63%;
  text-align: center;
  margin: 30px 0px;
  color: whitesmoke;
  line-height: 25px;
  font-weight: 600;
}

.welcome-header__hashtag {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  width: 53%;
  height: 60px;
  border-radius: 40px;
  color: white;
  font-size: 17px;
}

.welcome-header__hashtag span:first-child {
  color: #26c48e;
  margin-left: 50px;
  margin-right: 20px;
}

.welcome-header__hashtag span i {
  margin-right: 5px;
}

.welcome-header__hashtag .divider {
  background-color: white;
  margin: 0px 15px;
}

.welcome-header__hashtag-text {
  margin: 0px 8px;
}

#pause-icon {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 17px;
  margin-top: 80px;
  cursor: pointer;
}
/* wlecome-header code end */

/* main-article code */
.main-article {
  margin-top: 60px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 110px;
}

.article__column:first-child {
  background-color: #25a261;
  width: 600px;
  height: 350px;
  color: white;
}

.article__column:last-child img {
  width: 600px;
  height: 353px;
  cursor: pointer;
}

.article__column:last-child {
  position: relative;
}

#photo-remote {
  width: 284px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 3px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

#photo-remote span {
  height: 100%;
  color: white;
  border-right: 1px solid white;
  display: flex;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
  cursor: pointer;
}

#photo-remote span:last-child {
  border: none;
}

#article__column-padding {
  padding: 40px 40px;
}

.article__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
  cursor: pointer;
}

.article__title__column:first-child {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.article__title span:first-child {
  font-weight: 600;
  border-bottom: 3px solid white;
  padding: 8px 0px;
}

.article__title .divider {
  background-color: white;
  margin: 0px 20px;
}

.article__info {
  display: flex;
  align-items: center;
  margin: 25px 0px;
  border-bottom: 1px dashed white;
  padding-bottom: 20px;
  cursor: pointer;
}

.article__info-date {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  padding: 10px 10px;
}

.article__info-date span:first-child {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.article__info-date span:last-child {
  font-size: 12px;
}

.article__info-text h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 13px;
}

.article__info-text p {
  font-size: 12px;
}

.article__notify {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-bottom: 25px;
  cursor: pointer;
}
/* main-article code end */

/* main-section code */
#travelmap {
  width: 700px;
  height: 500px;
  color: #fff8f0;
  margin-left: 50px;
}

.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 194px;
}

.section__column:first-child {
  margin-left: 30px;
}

.section__column:last-child {
  margin-right: -120px;
}

.section-title {
  font-size: 20px;
  margin-bottom: 20px;
  display: block;
}

.section-greentitle,
.section-blacktitle {
  font-size: 50px;
  font-family: "Black Han Sans", sans-serif;
}

.section-greentitle {
  color: #25a261;
}

.section-blacktitle {
  color: #282828;
  margin-right: 10px;
}

.section-subtitle {
  margin-top: 20px;
  line-height: 25px;
  margin-bottom: 50px;
}

.nav {
  display: flex;
  flex-direction: column;
}

.nav-location {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-location span {
  display: block;
  padding: 15px 17px;
  background-color: white;
  border-radius: 20px;
  font-weight: 600;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  margin-left: -10px;
  cursor: pointer;
}

.nav-location span:first-child {
  background-color: #ffc949;
}

.nav-info {
  width: 541px;
  height: 369px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.nav-info-padding {
  padding: 20px 30px;
}

.nav-info__name {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

#ojh {
  width: 80px;
  height: 80px;
  border: 7px solid #f5f0e5;
  border-radius: 50%;
  margin-right: 20px;
}

.nav-info__name h1 {
  font-size: 20px;
  font-weight: 600;
}

.nav-info p {
  color: rgba(0, 0, 0, 0.7);
  line-height: 22px;
  margin-bottom: 20px;
}

.nav-info__address {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-info__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.nav-info__address ul {
  width: 20%;
}

.nav-info__details {
  width: 80%;
}

.nav-info__address li {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 17px;
}

.nav-info__detail {
  color: rgba(0, 0, 0, 0.4);
  font-size: 17px;
  margin-bottom: 5px;
}

.nav-info__button {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.nav-info__button div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 148px;
  height: 38px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  margin-left: -30px;
}

.nav-info__button i {
  margin-left: 5px;
}

#location-search {
  position: absolute;
  top: 40px;
  right: 50px;
  font-size: 50px;
  opacity: 0.2;
}

.nav-circles {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -40px;
  left: 185px;
}

.nav-circle {
  width: 10px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0px 4px;
  border-radius: 50%;
  cursor: pointer;
}

.nav-circle:first-child {
  background-color: rgba(0, 0, 0, 0.8);
}
/* main-section code end*/

/* main-footer code */
.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-title {
  font-size: 50px;
  font-family: "Black Han Sans", sans-serif;
}

.footer-greentitle {
  color: #25a261;
  margin-left: 10px;
}

.footer-blocks {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.footer-block {
  width: 500px;
  height: 700px;
  overflow: hidden;
  position: relative;
}

.footer-block__name {
  position: absolute;
  top: 40px;
  right: 133px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-block__title {
  font-size: 50px;
  margin-bottom: 170px;
  margin-top: 20px;
  font-family: "Nanum Pen Script", cursive;
}

.block-white div {
  color: white;
  border-color: white;
}

.detail-absolute {
  right: 70px;
}

.festivals {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -200px;
  margin-left: 40px;
}

.festival {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.festival img {
  width: 99px;
  height: 99px;
  border-radius: 50%;
  margin-right: 20px;
  border: 6px solid powderblue;
}

.festival span {
  font-size: 20px;
  color: white;
}

/* main-footer code end */

#main-greenbackground {
  background-color: #2e9f71;
  width: 100%;
  height: 600px;
  z-index: -1;
  position: absolute;
  top: 2100px;
}
